extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/home")
      img#logoSmall(src="/assets/img/logoSmall.png", alt="small logo")
    .navlink
      a(href="/login") Login
    .navlink
      a(href="/signup") Sign up
  a(href="/home")
      img#logoTag(src="/assets/img/logoTag.png", alt="tagline logo")
  section#login
    form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
      label(for="username") Username: 
      input#user(type="text", name="username", placeholder="username")
      label(for="pass") Password: 
      input#pass(type="password", name="pass", placeholder="password")
      a#loginSubmit(class="formSubmit", href="#") Sign In
block scripts
    script(src="/assets/client.js")